/* reset no css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../img/fundo.jpg');
	background-size: auto 100vh;
	font-family: Arial;
	height: 100vh;
	font-size: 12px;
	/* background: blue; */
}

/* condicional @ ou breakpoint */
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
	body{
		font-size: 14px;
	}
}

@media (min-width: 600px) {
	body{
		font-size: 18px;
	}
}

header{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ponto no início se refere uma classe */
.menu {
	background: white;
	position: fixed;
	width: 100vw;
	top: 0;
}

.menu a{
	display: block;
	padding: 10px 20px;
}

/* pseudo-classe não existe no html 
   está tirando efeito de qualquer texto */
a {
	color: teal;
	text-decoration: none;
}
/* está dando um efeito quando for a ação hover */
a:hover {
	text-decoration: underline;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

/* esta declaração dá o estilo desejado para 
uma tag específica de uma classe */
.menu li {
	list-style: none;
}

.site-subtitle,
.site-title {
	color: white;
	text-align: center;
}

.site-title{
	font-size: 4em;
}

.site-subtitle {
	font-style: italic;
}

.img-portfolio{
	height: 180px;
	width: 180px;
}